@import "reset.css";
@import "https://fonts.googleapis.com/css?family=Poppins";
:root {
    --background-color: #212121;
    --text-color: #fafafa;   
}
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fafafa;
        --text-color: #212121;
    }
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
.navbar {
    padding: 2rem 2rem 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
}
.navbar-right {
    align-items: right;
    display: flex;
}
.navbar-hamburger {
    display: none;
}
@media screen and (max-width: 768px) {
    .navbar-right {
        display: none;
    }
    .navbar-hamburger {
        display: block;
    }
}
.navbar-link {
    color: var(--text-color);
    margin-left: 2rem;
    align-self: flex-end;
}
.section {
    padding: 1rem 2rem;
}
.subtitle {
    font-size: 1.25rem;
    line-height: 1.25;
}
